GOOGLE_CALENDAR_ID=gerrit.fabisch2024@gmail.com
GOOGLE_CALENDAR_ICAL_URL=https://calendar.google.com/calendar/ical/gerrit.fabisch2024%40gmail.com/public/basic.ics
GOOGLE_CALENDAR_EMBED_URL=https://calendar.google.com/calendar/embed?src=gerrit.fabisch2024%40gmail.com&ctz=Europe%2FBerlin
GOOGLE_DRIVE_FOLDER_URL=https://drive.google.com/drive/folders/1D4267CAvCzNyZJC7NQc5zkFqSy-jBGxQ
GOOGLE_DRIVE_LOCAL_PATH=G:\Meine Ablage\Persönlich
GMAIL_ACCOUNT=gerrit.fabisch2024@gmail.com
