GOOGLE_CALENDAR_ID=gerrit.fabisch2024@gmail.com
GOOGLE_CALENDAR_ICAL_URL=https://calendar.google.com/calendar/ical/gerrit.fabisch2024%40gmail.com/public/basic.ics
GOOGLE_CALENDAR_EMBED_URL=https://calendar.google.com/calendar/embed?src=gerrit.fabisch2024%40gmail.com&ctz=Europe%2FBerlin
GOOGLE_DRIVE_FOLDER_URL=https://drive.google.com/drive/folders/1_XCyuIovFJQSQ80zVy3gVkBuM8Tutgwe
GOOGLE_DRIVE_LOCAL_PATH=G:\Meine Ablage\Unterlagen und Dokumente
GOOGLE_DRIVE_ROOT_FOLDER_ID=1_XCyuIovFJQSQ80zVy3gVkBuM8Tutgwe
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI=https://DEINE-SITES-ADRESSE/api/drive/callback
GOOGLE_DRIVE_TOKEN_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.6-sol
GMAIL_ACCOUNT=gerrit.fabisch2024@gmail.com
